{% extends 'base.html' %}

{% block header %}
	<nav class="blue lighten-2">
		<div class="nav-wrapper">
			<a href="/" class="brand-logo" style="margin-left:10px"><i style="font-size: 40px" class="fas fa-shopping-basket"></i>&emsp;Policy Basket</a>
			<a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>

			<ul class="right hide-on-med-and-down">
				<li><a href="#">About</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav>

	<ul class="sidenav" id="mobile-demo">
		<li><a href="#">About</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
          
{% endblock header %}

{% block content %}
	<div id="intro" class="row center-align flow-text container">
		<div class=" responsive-img container pink lighten-5 circle" style="margin-top:28px"><i class="pink-text text-lighten-3 fas fa-shopping-basket fa-9x"></i></div>
		{% if not results %}
			<h2><b>Get Free Insurance Advice</b></h2>
			<p class="flow-text">We analyze your lifestyle and show you which insurance you're missing. Please take the following quiz.</p>
		{% else %}
			<h3><b>Personalized Recommendations For You</b></h3>
			<ul class="blue-text text-lighten-2">
				{% for result in results %}
				<li>{{ result }}</li>
				{% endfor %}
			</ul>
		{% endif %}
		<button id="quiz-toggle" class="btn btn-large waves-effect waves-light blue lighten-2" type="text">{% if results %}Retake{% else %}Take{% endif %} Quiz</button>

	</div>
	<div id="ques" class="row scale-transition scale-out">

<!--	<div class="col s12 chips"></div>-->

		<div class="col s12" style="padding:0px">
			<ul class="tabs">
				<li class="tab col s4"><a class="active" href="#tab1">Personal Details</a></li>
				<li class="tab col s4"><a href="#tab2">Additional Details</a></li>
				<li class="tab col s4"><a href="#tab3">Services</a></li>
			</ul>
		</div>

		<div id="tab1" class="col s12">
			<form id="first" method="POST">
				<input type='hidden' name='csrfmiddlewaretoken' value='qzM8ytncKDQo7NXkjwEy1cQZafIyyEvd' />
				<div class="col s12 m8 offset-m2">
					<br>
					<h5 class="flow-text center-align">Personal Information</h5>
					<br><br>
					<div class="input-field col s10 offset-s1 m6">
 						<input placeholder="Date of Birth" id="dob" type="text" name="dob" class="datepicker">
						<label for="dob">Date of Birth: </label>
					</div>
					<div class="input-field col s10 offset-s1 m6">
 						<input placeholder="Income (in K)" id="income" type="number" name="income" class="validate" max="100" value="20">
						<label for="income">Annual Income (in thousands): </label>
					</div>
					<div class="input-field col s10 offset-s1 m12">
						<select name="sex">
							<option value="" disabled selected>Choose your gender</option>
							<option value="M">Male<i class="fas fa-male"></i></option>
							<option value="F">Female<i class="fas fa-female"></i></option>
						</select>
						<label>Gender:</label>
				  </div>
					<div class="row center">
					    <a href="#" class="blue lighten-2 btn waves-effect waves-light ques-next"  style="width: 80%" onclick="$('.tabs').find('a[href=#tab2]')[0].click()">Continue</a>
					</div>
				</div>
			</form>
		</div>

		<div id="tab2" class="col s12">
			<form id="second" method="POST">
				<input type='hidden' name='csrfmiddlewaretoken' value='qzM8ytncKDQo7NXkjwEy1cQZafIyyEvd' />
				<div class="col s12 m8 offset-m2">
					<br>
					<h5 class="flow-text center-align"></h5>
					<br><br>
					<div class="input-field col s10 offset-s1 m12">
						<select name="pmethod">
							<option value="" disabled selected>Choose payment method</option>
							<option value="Q">Cheque</option>
							<option value="C">Cash</option>
						</select>
						<label>Payment Method:</label>
					</div>
					<br><br>
					<h5 class="flow-text center-align">Which of the following do you use?</h5>
					<p>
						<label>
							<input id="demand_draft" name="demand_draft" type="checkbox" />
							<span>Demand Draft</span>
					  </label>
					</p>
					<p>
						<label>
							<input id="overdraft" name="overdraft" type="checkbox" />
							<span>Overdraft</span>
					  </label>
					</p>
					<p>
						<label>
							<input id="funds_transfer" name="funds_transfer" type="checkbox" />
							<span>Funds Transfer</span>
					  </label>
					</p>
					<div class="row center">
						<a href="#" class="blue lighten-2 btn waves-effect waves-light ques-next"  style="width: 80%" onclick="$('.tabs').find('a[href=#tab3]')[0].click()">Continue</a>
					</div>
				</div>
			</form>

		</div>

		<div id="tab3" class="col s12">
			<form id="third" method="POST">
				<input type='hidden' name='csrfmiddlewaretoken' value='qzM8ytncKDQo7NXkjwEy1cQZafIyyEvd' />
				<div class="col s12 m8 offset-m2">
					<br>
					<h5 class="flow-text center-align">Which of the following do you have?</h5>
					<br><br>
					<div class="input-field col s10 offset-s1 m6">
					<p>
						<label>
							<input name="homeown" type="checkbox" />
							<span>Your Own House</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="credit_card" type="checkbox" />
							<span>Credit Card</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="Home_loan" type="checkbox" />
							<span>Home Loan</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="savings_account" type="checkbox" />
							<span>Savings Account</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="Fixed_deposit" type="checkbox" />
							<span>Fixed Deposit</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="Recurrarent Deposit" type="checkbox" />
							<span>Recurrent Deposit</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="chequing_service" type="checkbox" />
							<span>Chequing Service</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="motor_general_insurance" type="checkbox" />
							<span>Motor General Insurance</span>
					  </label>
					</p>
					<p>
						<label>
							<input name="pension_life_insurance" type="checkbox" />
							<span>Pension Life Insurance</span>
					  </label>
					</p>
					</div>
					<div class="row center">
						<button href="#" id="ques-submit" class="blue lighten-2 btn waves-effect waves-light" style="width: 80%" >Submit</button>
						<div id="preloader" class="progress row hide"><div class="indeterminate"></div></div>
					</div>
				</div>
			</form>
		</div>
	</div>
        
{% endblock %}

{% block scripts %}
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>

	<script>

	$(document).ready(function(){
    	$('.sidenav').sidenav();
	  });

	$(document).ready(function(){
		$('.tabs').tabs();
	});

	$("#quiz-toggle").on('click', function(e){
		e.preventDefault();
		var questionnaire = $('#ques'),
			ques_intro = $('#intro');
		if (questionnaire.hasClass('scale-out')) {
			questionnaire.removeClass('scale-out');
			ques_intro.addClass('scale-out');
			ques_intro.hide();
			$('.tabs').find('a[href=#tab1]')[0].click();
		}/* else {
			ques_intro.removeClass('scale-out');
			questionnaire.addClass('scale-out');
		}*/
	});

	$(document).ready(function(){
    $('.datepicker').datepicker({
		'defaultDate': new Date(1975,0,1),
		'yearRange': 30,
		'setDefaultDate': true,
	});
  });

	$(document).ready(function(){
		$('select').formSelect();
	});
/*
	$('.chips').chips({
		'onChipAdd': function(chip){
			$i = $(chip.find('i'));
			$i.empty();
			$i.attr("class", "fas fa-times");
		},
	});*/

		function appendToFormData(form_data, serialized_data){
        for (var i=0; i<serialized_data.length; i++){
            var pair = serialized_data[i].split('=');
            form_data.append(pair[0], pair[1]);
        }
        return form_data;
    }

	$('#ques-submit').on('click', function(e){
		e.preventDefault();
        var form_data = new FormData(),
			form1 = $('#first'),
			form2 = $('#second'),
			form3 = $('#third');
        form_data.append('csrfmiddlewaretoken', $('input[name = csrfmiddlewaretoken]')[0].value);
        form_data = appendToFormData(form_data, form1.serialize().split('&'));
        form_data = appendToFormData(form_data, form2.serialize().split('&'));
        form_data = appendToFormData(form_data, form3.serialize().split('&'));
		
		$.ajax({
			url: '/ques/',
			type: 'POST',
			data: form_data,
			processData: false,
			contentType: false,
			beforeSend: function(xhr, settings) {
				$("#preloader").removeClass('hide');
				xhr.setRequestHeader("X-CSRFToken", jQuery("[name=csrfmiddlewaretoken]").val());
			},
			success: function(data, status, xhr) {
				document.open();
				document.write(data.html);
				document.close();
			},
			error: function(xhr, status, error) {
			}
		});

	});
	</script>
{% endblock scripts %}
